<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Lee-KangCeen</h1>
		<p>Welcome to week 2 of my 12 Web Apps in 12 Weeks Challenge.</p>
		<p>This week I follow Mackenzie Child's teach to built a blog in Rails 4.</p>
		<p>I upload codes to github too at <a href="https://github.com/Lee-KangChen/">@Lee-KangCeen</a> or you can find my on the blogger<a href="https://lee-kangchen.blogspot.tw/">lee-kangchen.blogspot.tw</a></p>
	</div>
</div>
